$darkblue: rgba(7, 38, 56, 1);
$yellow: rgba(237, 174, 73, 1);
$red: rgba(209, 58, 78, 1);
$lightblue: rgba(54, 188, 208, 1);
$slate: rgba(48, 99, 142, 1);

$white: hsl(0, 0%, 98%);
$gray: hsl(192, 18%, 22%);
