@import "mixins";
@import "colors";
@import "font";
@import "classes";

*{
  box-sizing: border-box;
}

html{
  background-color: $darkblue;
}

header{
  @include flex-width(center, auto);
  @include colors(auto, $white);
  border-bottom: solid $yellow 5px;
  font-family: 'Roboto Mono', monospace;
}

nav{
  @include flex-width(space-between, 80%);
  align-items: flex-end;
  .brand{
    display: flex;
    align-items: center;
    margin:0.5vw 0.5vw 0.5vw 0;
    .logo{
      height:5vw;
      width: 5vw;
    }
    h1{
      color:$lightblue;
      padding-left: 1vw;
      margin: 0;
    }
  }
}

a{
  text-decoration: none;
  color:$lightblue;
  &:hover{
    color: $yellow;
  }
}

main{
  @include flex-width(center, auto);
  @include colors($white, $darkblue);
  border-top: $slate 20px solid;
}

.dashboard{
  width:80%;
  h1{
    font-family: 'Roboto Mono', monospace;
    margin: 1vw 0;
  }
}

.modules{
  @include flex-width(space-between, 100%);
  flex-wrap: wrap;
  section{
    @include colors(auto, $white);
    @extend .card;
    width: 17rem;
    padding: 1vw;
    margin:1vw 0 1vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2, h4{
      font-size: 1.5rem;
      color:$slate;
      margin-top: .5vw;
    }
  }
}

i{
  color: $yellow;
}

.alert{
  @include colors($darkblue, $white);
  border: 10px $red solid;
  border-radius: 3px;
  padding: 1vw 1vw 1vw 1vw;
  h2{
    color: $red;
    margin-top: 0;
  }
}

.data{
  @include flex-width(center, 100%);
  flex-direction: column;
  p{
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    padding: 1vw;
    color: $lightblue;
  }
  .hidden{
    display: none;
  }
  .precip{
    align-self: flex-end;
    font-family: sans-serif;
    font-size:1vw;
    padding: 0;
    color: $slate;
  }
  button{
    @extend .btn;
    font-weight: normal;
    outline: none;
  }
}

.weather{
  @include flex-width(space-between, 100%);
  padding:0;
  border-radius: 3px;
  .days{
    @extend .card;
    @include colors($darkblue, $white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 11vw;
    border: $lightblue solid 3px;
    margin:1vw 0;
    padding: 1vw;
    h3{
      margin-bottom: 0;
    }
    img{
      margin-top: 1vw;
    }
  }
}

.home{
  @include flex-width(center, 80%);
  flex-direction: column;
  align-items: center;
  form{
    display: flex;
    flex-direction: column;
    width: 30%;
    @include colors($gray, $white);
    margin: 0 0 2vw 0;
    padding: 1vw;
    border-radius: 3px;
    input, button{
      margin-bottom: 1vw;
      border-radius: 3px;
    }
    button{
      @extend .btn;
    }
  }
  .description{
    width:100%;
    @include colors($gray, $white);
    padding: 1vw;
    margin:0 0 5vw 0;
    @extend .card;
  }
}

.btns{
  @include flex-width(center, 80%);
  .bigbtn{
    @include colors($white, $slate);
    width:200px;
    padding: 20px;
    margin: 2vw 1vw;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    &:hover{
      @include colors(black, $lightblue);
    }
  }
}
